---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/Elr-tab.webp";
import faqs from "@data/fr/faqs.json";
import features from "@data/fr/features.json";
import pricing from "@data/fr/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import { getRelativeLocaleUrl } from 'astro:i18n';

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout lang="fr">
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Découvrez L'agence ELR"
    url="https://elragency.com"
  />

  <HeroSection
    title=`Notre mission est de construire l'héritage de demain, nous sommes <span class="text-orange-600 dark:text-orange-600">HORUSS</span>`
    subTitle="Une jeune équipe dynamique qui souhaite vous offrir le meilleur service possible."
    primaryBtn="Commencez à explorer nos offres"
    primaryBtnURL={getRelativeLocaleUrl("fr", "products")}
    secondaryBtn="Contacter nous directement"
    secondaryBtnURL={getRelativeLocaleUrl("fr", "contact")}
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`Avec plus de <span class="font-bold">12,8k</span> avis`
    src={heroImage}
    alt="Pile de boîtes de produits LeCondo contenant des outils matériels assortis"
  />

  <ClientsSection
    title="Une jeune compagnie qui fait ses preuves"
    subTitle="Découvrez la fiabilité choisie par plus de 500 clients partout en montérégie."
  />

  <FeaturesGeneral
    title="Répondre aux exigences de l'industrie"
    subTitle="Chez L'AGENCE ELR, nous relevons les défis uniques rencontrés dans les secteurs de la technologie. Des outils de points à vous aider à surmonter les obstacles et à accès aux services experts, nous sommes déterminés à atteindre vos objectifs."
    src={featureImage}
    alt="Sites web produits par l'agence ELR flottants dans les airs"
    features={features}
  />

  <FeaturesNavs
    title=`L'équipe d'<span class="text-yellow-500 dark:text-yellow-400">Horuss</span> est là pour répondre à tous vos besoins de constructions et de rénovations.`
    tabs={[
      {
        heading: "Équipe qualifiée",
        content:
          "Pas de temps perdu, nous sommes performants et professionnels pour réaliser tous vos projets le plus efficacement possible.",
        svg: "tools",
        src: tools,
        alt: "Équipement lourd jaune et noir sur un champ d'herbe brune",
        first: true,
      },
      {
        heading: "Des preuves faites",
        content:
          "Nous avons de nombreux clients prêts à témoigner du professionnalisme de nos services.",
        svg: "dashboard",
        src: dashboard,
        alt: "Capture d'écran ou représentation graphique du tableau de bord intuitif",
        second: true,
      },
      {
        heading: "Services complémentaires",
        content:
          "Peu importe ce que vous avez besoin comme aide, nous avons ce qu'il vous faut et pouvons vous aider.",
        svg: "house",
        src: construction,
        alt: "L'équipe de l'agence ELR prête à vous aider dans vos projets numériques.",
      },
    ]}
  />

  <TestimonialsSection
    title="Accélérez vos projets"
    subTitle="Chez L'Agence ELR, nous visons la perfection et voulons nous assurer que tous vos projets sont réalisés de manières optimales en évitant les problèmes et en augmentant vos profits."
    testimonials={[
      {
        content:
          "LeCondo a considérablement augmenté l'efficacité de notre projet. La configuration a été instantanée et leurs temps de réponse rapides sont phénoménaux. Vraiment un changement de jeu dans le support matériel et de construction !",
        author: "Samantha Ruiz",
        role: "Directrice des opérations | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "Montants de ventes en 3 mois — pour l'équipe de K-Constructions grâce à notre site web.",
      },
      {
        count: "45%",
        description:
          "hausse moyenne de l'efficacité des projets avec nos automatisations de tâches.",
      },
      {
        count: "15,3%",
        description:
          "réduction moyenne des coûts sur nos projets",
      },
      {
        count: "2x",
        description:
          "de projets réalisés en l'espace de 4 mois.",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Questions<br />fréquemment posées" faqs={faqs} />

  <HeroSectionAlt
    title="Construisons ensemble"
    subTitle="L'Agence ELR est une jeune agence qui vous permet d'avoir les outils technologies qu'il vous faut pour croitre dans le monde d'aujourd'hui."
    url="/products"
  />
</MainLayout>

